<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.amf.edu.monolithic.domain.repository.MemberRepository">

    <select id="selectAllMember" resultType="Member">
        SELECT M.ID
             , M.NAME
             , M.ROLE
             , T.NAME AS TEAM_NAME
             , M.EMAIL
             , M.MOBILE
             , M.PASSWORD
		  FROM MEMBER M
		LEFT OUTER JOIN TEAM T
		ON M.TEAM_ID = T.ID
    </select>

    <select id="selectMemberById" resultType="Member">
        SELECT M.ID
             , M.NAME
             , M.ROLE
             , T.NAME AS TEAM_NAME
             , M.PASSWORD
		  FROM MEMBER M
		LEFT OUTER JOIN TEAM T
		ON M.TEAM_ID = T.ID
         WHERE M.ID = #{id}
    </select>

    <insert id="createMember">
        INSERT INTO
            MEMBER(ID
                 , NAME
                 , TEAM_ID
                 , ROLE
                 , EMAIL
                 , PASSWORD)
        VALUES (
                #{id},
                #{name},
                #{teamId},
                #{role},
                #{email},
                #{password}
                )
    </insert>

    <update id="updateMember">
        UPDATE MEMBER
        SET
            NAME = #{member.name}
          , TEAM_ID = #{member.teamId}
          , ROLE = #{member.role}
        WHERE
            ID = #{memberId}
    </update>

    <delete id="deleteMember">
        DELETE FROM MEMBER
        WHERE
            ID = #{memberId}
    </delete>

    <select id="selectMemberByEmail" resultType="Member">
        SELECT M.ID
             , M.NAME
             , M.ROLE
             , M.TEAM_ID
             , T.NAME AS TEAM_NAME
             , M.EMAIL
             , M.MOBILE
             , M.PASSWORD
          FROM MEMBER M
                 LEFT OUTER JOIN TEAM T
                                 ON M.TEAM_ID = T.ID
         WHERE M.EMAIL = #{email}
    </select>

</mapper>
