<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.amf.edu.monolithic.domain.repository.MemberRepository">

    <select id="selectAllMember" resultType="Member">
        SELECT M.ID
             , M.NAME
             , M.ROLE
             , T.NAME AS TEAM_NAME
		  FROM MEMBER M
		LEFT OUTER JOIN TEAM T
		ON M.TEAM_ID = T.ID
    </select>

    <select id="selectMemberById" resultType="Member">
        SELECT M.ID
             , M.NAME
             , M.ROLE
             , T.NAME AS TEAM_NAME
		  FROM MEMBER M
		LEFT OUTER JOIN TEAM T
		ON M.TEAM_ID = T.ID
         WHERE M.ID = #{id}
    </select>

    <insert id="createMember">
        INSERT INTO
            MEMBER(ID
                 , NAME
                 , TEAM_ID
                 , ROLE)
        VALUES (
                #{id},
                #{name},
                select t.id
                    from TEAM t
                    where t.name = #{teamName},
                #{role}
                )
    </insert>

    <update id="updateMember">
        UPDATE MEMBER
        SET
            NAME = #{member.name}
          , TEAM_ID = (select t.id
                       from TEAM t
                       where t.name = #{member.teamName})
          , ROLE = #{member.role}
        WHERE
            ID = #{memberId}
    </update>

    <delete id="deleteMember">
        DELETE FROM MEMBER
        WHERE
            ID = #{memberId}
    </delete>

</mapper>
